<nav class="navbar navbar-expand-lg navbar-dark bg-info mb-4">
    <div class="container-fluid">
        <a class="navbar-brand fw-bold" href="{% url 'home' %}">Car Dealerships</a>

        <div class="collapse navbar-collapse">
            <ul class="navbar-nav me-auto">

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'dealers' %}">Dealerships</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'about' %}">About</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'contact' %}">Contact</a>
                </li>

            </ul>

            <ul class="navbar-nav ms-auto">

                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <span class="navbar-text text-white me-2">
                            Hello, {{ user.username }}
                        </span>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                    </li>

                {% else %}

                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Login</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'register' %}">Register</a>
                    </li>

                {% endif %}
            </ul>
        </div>
    </div>
</nav>
